.benefits {
    display: flex;
}

.benefits__item {
    flex: 1;
    padding: 0 3%;
    position: relative;

    &:before {
        content: url("../img/decor/separator.png");
        position: absolute;
        top: 50px;
        right: 0;
        transform: translateX(50%);
    }

    &:first-child {
        padding-left: 0;
    }

    &:last-child {
        padding-right: 0;

        &:before {
            display: none;
        }
    }
}

.benefits-section {
    position: relative;
    background: url("../img/decor/grey-leaf.png") left top 57% no-repeat;

    &:before {
        content: url("../img/decor/malina.png");
        position: absolute;
        bottom: -180px;
        left: 0;
    }
}



.benefit {
    text-align: center;
}

.benefit__image-wrapper {
    display: inline-flex;
    width: 126px;
    height: 126px;
    position: relative;
    background: #f2f5f4;
    border-radius: 50%;
    overflow: hidden;
}

.benefit__icon {
    width: 75px;
    height: 69px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
}

.benefit__title {
    font-size: 27px;
    font-weight: bold;
    color: #000;
}

.benefit__desc {
    padding: 0 6%;
}